
:root {
    --black: #141414;
    --color-dropdown: rgba(0,0,0, .10);
    --teste: 1px solid red;
}
*{ 
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
/*###### GENERAL ######*/
body{
    background: var(--black);
    font-family: sans-serif;
    color: #fff;
}
a{
    text-decoration: none;
}
::-webkit-input-placeholder{
    font-size: medium;
}
::-moz-placeholder{
    font-size: medium;
}
:-ms-input-placeholder{
    font-size: medium;
}
::-ms-input-placeholder{
    font-size: medium;
}
::placeholder{
    font-size: medium;
}
li {
    list-style: none;
}
/*###### HEADER ######*/
header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
header .container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color:#000;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
}
.container {
    padding:15px 50px;
}
header .logo img{
    width:100px;
    margin-right: 40px;
}
.navbar a{
    color: #fff;
    margin-right: 20px;
   
}
.navbar a:hover{
    color: #AAA;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}
/*###### HEADER RIGHT MENU ######*/
.right-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.search {
    /* border: 1px solid #fff; */
    margin-right: 20px;
    height: 30px;
    margin-top: 4px;
    
}
.buttonsrc {
    background-color: black;
    border: none;
    cursor: pointer;
}
.buttonsrc:focus {
    outline: thin dotted;
    outline: 0px auto;
    outline-offset: 0px;
}
.searchinput{
    background: #000;
    border: none;
    outline: none;
    height: 30px;
    color:#fff;
    width: 0px;
    -webkit-transition: width .4s;
    -o-transition: width .4s;
    transition: width .4s;
}
.search i{
    font-size: larger;
    color: white;
}
.right-menu-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 20px 0 5px;
}
.kids a {
    color: #fff;
    font-size: 0.9em;
}
.gift a i{
    color: #fff;
    font-size: 1.2em;
}
.notify a i{
    color: #fff;
    font-size: 1.6em;
}
.profile a img {
    width: 35px;
    border-radius: 4px;
}
.profile{
    padding: 0;
}
.profile i{
    margin: 0 0 10px 10px;
}
/*###### MAIN MOVIE ######*/
.main-movie{
    font-size: 16px;
    background: -webkit-gradient(linear,left top, left bottom,from(rgba(0,0,0, .50)),to(rgba(0,0,0, .50))), url("../img/capa-house.jpg");
    background: -o-linear-gradient(rgba(0,0,0, .50),rgba(0,0,0, .50)100%), url("../img/capa-house.jpg");
    background: linear-gradient(rgba(0,0,0, .50),rgba(0,0,0, .50)100%), url("../img/capa-house.jpg");
    height: 600px;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
}
.sinopse {
    margin-bottom: 30px;
    width: 450px;
}
.sinopse p{
    font-size: 1.5em;
    font-weight: bold;
}
img.title{
    width: 30rem;
    margin-left: -103px;
    margin-bottom: -60px;
}
.button{
    padding: 10px 20px;
    margin-right: 10px;
    font-weight: bold;
    border-radius: 4px;
    border: none;
}
.button i{
    margin-right: 5px;
}
.button:nth-child(1):hover{
    background: rgba(255,255,255, .60);
    cursor: pointer;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.button:nth-child(2){
    background: rgba(255,255,255, .30);
    color: #fff;
}
.button:nth-child(2):hover{
    background: rgba(255,255,255, .15);
    cursor: pointer;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
/*###### CAROUSEL ######*/
.box-movie{
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 2px;
}
.carousel1 {
    margin-left: 50px;
    margin-top: -85px;
}
.carousel {
    margin-left: 50px;
}
.h3-carousel{
    margin-bottom: 15px;
}

/* ##### DROPDOWN PROFILE##### */
#content1 {
    margin-top:17px;
    padding:0px 10px;
    -webkit-box-shadow:0px 0px 3px #777;
    box-shadow:0px 0px 3px #777;
    width:170px;
    display:none;
    position:absolute;
    right:70px;
    top: 50px;
    background-color: rgba(0,0,0, .70);
}
#content1:before { /*a seta do div flutuante*/
    content: "";
    position: absolute;
    top: -8px;
    left: 145px;
    background-color:var(--color-dropdown);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    border: 6px solid;
    border-color:white var(--color-dropdown) var(--color-dropdown) white;
}
.blocK {
    padding:5px 0;
    position:relative;
}
li.profile-dropdown{
    margin-top: 10px;
	height: 40px;
}
.profile-dropdown a img{
    float: left;
    margin-right: 10px;
}
.profile-dropdown a p:hover{
    text-decoration: underline;
    
}
.profile-dropdown a p{
    padding-top: 10px;
    color: white;
    font-size: 0.9em;
}
div.profile:hover i{
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
/* ##### DROPDOWN NOTIFY ##### */

#content2 {
    margin-top:17px;
    -webkit-box-shadow:0px 0px 3px #777;
    box-shadow:0px 0px 3px #777;
    width:460px;
    height: 400px;
    display:none;
    position:absolute;
    right:100px;
    top: 55px;
    background-color: rgba(0,0,0, .70);
    overflow-y: scroll;
}
#content2:before { /*a seta do div flutuante*/
    content: "";
    position: absolute;
    top: -8px;
    right: 30px;
    background-color:var(--color-dropdown);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    border: 6px solid;
    border-color:white var(--color-dropdown) var(--color-dropdown) white;
}
#content2 .blocK {
    position:relative;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0;
}
li.notify-dropdown{
    
	height: 100px;
    padding: 10px;
    border-top: 0.5px solid #aaa;
}
.notify-dropdown a img{
    float: left;
    width: 140px;
    margin-right: 10px;
    border-radius: 4px;
}
li.notify-dropdown:hover{
    background-color: rgba(0,0,0,.40);  
}
.notify-dropdown a p{
    padding-top: 10px;
    color: rgba(170, 170, 170, 0.548);
    font-size: 0.9em;
}
.notify-dropdown a h4{
    color: rgba(204, 204, 204, 0.753);
    font-weight: lighter;
}
li.notify-dropdown:hover h4{
    color: #fff;
}